.bundle
*.bak
*~
trash
.DS_Store
db/*.sqlite3
log/*.log
tmp
tmp/**/*
data_import/*
data_export/*
old
tmp*
.rbenv-version
logs*
.sass-cache
application.yml.craic
application.yml.blank
craic_pre_commit
craic_post_commit



