<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>craic.com AP Demo examples</title>

  <link href="/application.css" media="all" rel="stylesheet" type="text/css" />

  <script  src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>

</head>

<body>

<div id='header'>API demos</div>

<p>This site hosts simple examples of some features of HTML5, JavaScript and Third-Party APIs like Google Maps</p>


</body>
</html>
