<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="/application.css" media="all" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>
  <title>Web Apprentice - Live Demos</title>
</head>
<body>

<div class='header'>
  <table><tr>
    <td class='td-edge'>
      <a href="http://craic.com" class="web-apprentice-logo">Web Apprentice Demos</a>
      <br/>
      <span class="tutorial-id">Tutorial 8 Demo 1</span>
    </td>

    <td class='td-center tutorial-title'>
      Use Google Fonts in a Page
    </td>
    <td class='td-edge'></td>
  </tr></table>
</div>

<div class='tutorial-links'>
  <a href="http://localhost:3000/tutorials/8">View the Tutorial</a>
  &nbsp; &nbsp;
  <a href='#' onClick='window.location="view-source:" + window.location.href'>View the Source for this Page</a>
  &nbsp; &nbsp;
  <a href="https://gist.github.com/webapprentice/7359720">View the Code on Github</a>
</div>

<div class='main'>
  <!-- Start of tutorial code ----------------------------------------------------------  -->

<style>
  @import url(http://fonts.googleapis.com/css?family=PT+Sans);
  @import url(http://fonts.googleapis.com/css?family=Cinzel);
  @import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
  @import url(http://fonts.googleapis.com/css?family=Fondamento);

  p {
    font-size: 18px;
  }
  .font1 {
    font-family: 'PT Sans', sans-serif;
  }
  .font2 {
    font-family: 'Cinzel', serif;
  }
  .font3 {
    font-family: 'Roboto Condensed', sans-serif;
  }
  .font4 {
    font-family: 'Fondamento', cursive;
  }
</style>

<p class='font1'>PT Sans - The quick brown fox jumps over the lazy dog.</p>
<p class='font2'>Cinzel - The quick brown fox jumps over the lazy dog.</p>
<p class='font3'>Roboto Condensed - The quick brown fox jumps over the lazy dog.</p>
<p class='font4'>Fundamento - The quick brown fox jumps over the lazy dog.</p>


  <!-- End of tutorial code ------------------------------------------------------------  -->
</div>


<div class='footer'>
  &copy; 2013  Robert Jones, <a href="http://craic.com">Craic Computing LLC</a>  &nbsp; &nbsp;
  <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/us/">Creative Commons License</a>
</div>

</body>
</html>
